@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  scroll-behavior: smooth;
}

.font-recharge {
  font-family: 'recharge';
}

@font-face {
  font-family: 'recharge';
  src: url(./assets/fonts/recharge\ bd.otf);
}

.font-neuro {
  font-family: 'neuro';

}

@font-face {
  font-family: 'neuro';
  src: url(./assets/fonts/neuropolitical\ rg.otf);
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.slick-list {
  overflow: visible !important;
  position: relative;
  z-index: 1;

}

.Blockchain .slick-list::after {
  content: ' ';
  position: absolute;
  top: -34%;
  bottom: 12%;
  width: 60500px;
  /* height: 100%; */
  right: 103.6%;
  /* z-index: 1; */
  background-color: #040404;
}

.slick-slide>div {
  display: flex;
  width: 100%;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
}